.addToDo{
    height: 50px;
    display: flex;
    background-color: var(--color-input);
    color: var(--color-words);
    width: 90%;
    margin: 20px auto 0 auto;
    box-shadow: 0px 0px 5px 1px var(--color-input);
    border-radius: 10px;
}

.addToDo span{
    font-size: 35px;
    margin: 0px 10px 0 10px;
}

.addToDo input{
    height: 100%;
    width: 90%;
    border: none;
    background-color: var(--color-input);
    font-size: 16px;
    color: var(--color-words);
}

.addToDo input:focus{
    background-color: var(--color-input);
    outline: 0;
}

.addToDo input:checked{
    background-color: var(--color-input);
}

.addToDo button{
    margin: 8px 10px 0 0;
    height: 70%;
    width: 10%;
    border: none;
    border-radius: 10px;
    border: 1px solid var(--color-one);
    background-color: var(--color-input);
    cursor: pointer;
    color: var(--color-words);
    font-weight: bold;
}

@media screen and (max-width:900px) {
    .addToDo{
        width: 100%;
    }
}

@media screen and (max-width:600px) {
    .addToDo{
        width: 110%;
        margin-left: -25px;
    }
}


@media screen and (max-width:500px) {
    .addToDo{
        width: 120%;
        margin-left: -38px;
    }

    .addToDo button{
        width: 15%;    
    }
}

@media screen and (max-width:400px) {
    .addToDo{
        width: 120%;
        margin-left: -30px;
    }
}